<nav class="navbar bg-dark sticky-top navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'work_search:dashboard' %}">Job Search App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {{ find_vacancies_active_link }}" aria-current="page" href="{% url 'work_search:find_vacancies' %}">Find Vacancies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ vacancies_list_active_link }}" href="{% url 'work_search:vacancies_list' %}">Vacancies list</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
